.App {
    width: 60%;
    margin: 30px auto;
}
.form-group{
    margin-top: 20px !important;
    width: 100%;
}
.form-control{
    width: 60%;
    height: 40px;
}
.startTourBtn{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
